
@{
    ViewBag.Title = "Admin Home";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<h2>Panou Admin</h2>
<p>Bine ai venit în panoul de administrare!</p>
<a href="@Url.Action("ManageUsers", "Admin")">Vezi utilizatorii</a>
