
@model List<eUseControl.BusinessLogic.DBModel.UserContext>

<h2>Lista Utilizatorilor</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nume</th>
            <th>Email</th>
            <th>Rol</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.Role</td>
            </tr>
        }
    </tbody>
</table>
