<div class="container-fluid footer py-5">
     <div class="container py-5">
          <div class="row g-5">
               <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="footer-item d-flex flex-column">
                         <h4 class="mb-4 text-white">Detalii</h4>
                         <a href=""><i class="fas fa-home me-2"></i> Strada Mihai Viteazul, 101</a>
                         <a href=""><i class="fas fa-envelope me-2"></i> aag_travel@gmail.com</a>
                         <a href=""><i class="fas fa-phone me-2"></i> +373 69 547 852</a>
                         <a href="" class="mb-3"><i class="fas fa-print me-2"></i> +373 69 587 892</a>
                         <div class="d-flex align-items-center">
                              <i class="fas fa-share fa-2x text-white me-2"></i>
                              <a class="btn-square btn btn-primary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                              <a class="btn-square btn btn-primary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                              <a class="btn-square btn btn-primary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                              <a class="btn-square btn btn-primary rounded-circle mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                         </div>
                    </div>
               </div>
               <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="footer-item d-flex flex-column">
                         <h4 class="mb-4 text-white">Companie</h4>
                         <a href=""><i class="fas fa-angle-right me-2"></i> Despre</a>
                         <a href=""><i class="fas fa-angle-right me-2"></i> Blog</a>
                         <a href=""><i class="fas fa-angle-right me-2"></i> Vouchere cadou</a>
                         <a href=""><i class="fas fa-angle-right me-2"></i> Revistă</a>
                    </div>
               </div>
               <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="footer-item d-flex flex-column">
                         <h4 class="mb-4 text-white">Suport</h4>
                         <a href=""><i class="fas fa-angle-right me-2"></i> Contacte</a>
                         <a href=""><i class="fas fa-angle-right me-2"></i> Notificare legală</a>
                         <a href=""><i class="fas fa-angle-right me-2"></i> Politica de confidențialitate</a>
                         <a href=""><i class="fas fa-angle-right me-2"></i> Termeni și condiții</a>
                         <a href=""><i class="fas fa-angle-right me-2"></i> Politica Cookies</a>
                    </div>
               </div>
               <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="footer-item">
                         <div class="row gy-3 gx-2 mb-4">
                              <div class="col-xl-6">
                                   <form>
                                        <div class="form-floating">
                                             <select class="form-select bg-dark border" id="select1">
                                                  <option value="1">Arabic</option>
                                                  <option value="2">German</option>
                                                  <option value="3">Greek</option>
                                                  <option value="3">New York</option>
                                             </select>
                                             <label for="select1">English</label>
                                        </div>
                                   </form>
                              </div>
                              <div class="col-xl-6">
                                   <form>
                                        <div class="form-floating">
                                             <select class="form-select bg-dark border" id="select1">
                                                  <option value="1">USD</option>
                                                  <option value="2">EUR</option>
                                                  <option value="3">INR</option>
                                                  <option value="3">GBP</option>
                                             </select>
                                             <label for="select1">$</label>
                                        </div>
                                   </form>
                              </div>
                         </div>
                         <h4 class="text-white mb-3">Plăți</h4>
                         <div class="footer-bank-card">
                              <a href="#" class="text-white me-2"><i class="fab fa-cc-amex fa-2x"></i></a>
                              <a href="#" class="text-white me-2"><i class="fab fa-cc-visa fa-2x"></i></a>
                              <a href="#" class="text-white me-2"><i class="fas fa-credit-card fa-2x"></i></a>
                              <a href="#" class="text-white me-2"><i class="fab fa-cc-mastercard fa-2x"></i></a>
                              <a href="#" class="text-white me-2"><i class="fab fa-cc-paypal fa-2x"></i></a>
                              <a href="#" class="text-white"><i class="fab fa-cc-discover fa-2x"></i></a>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>

<!-- Copyright Start -->
<div class="container-fluid copyright text-body py-4">
     <div class="container">
          <div class="col-md-12 text-center">

                    <i class="fas fa-copyright me-2"></i><a class="text-white" href="#">AAG - Voyage</a>, All right reserved.
               </div>
          </div>
     </div>
</div>
<!-- Copyright End -->