
@{
     ViewBag.Title = "Explorare";
     Layout = "~/Views/Shared/_Layout.cshtml";
}


     <!-- Spinner Start -->
     <!--<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
          <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
               <span class="sr-only">Încărcare...</span>
          </div>
     </div>-->
     <!-- Spinner End -->
    
     <!-- Header Start -->
     <div class="container-fluid bg-breadcrumb">
          <div class="container text-center py-5" style="max-width: 900px;">
               <h3 class="text-white display-3 mb-4">
                    Categoria Tururi</h1>
                    <ol class="breadcrumb justify-content-center mb-0">
                         <li class="breadcrumb-item"><a href="index.html">Acasă</a></li>
                         <li class="breadcrumb-item"><a href="#">Pagini</a></li>
                         <li class="breadcrumb-item active text-white">Categorie</li>
                    </ol>
          </div>
     </div>
     <!-- Header End -->
     <!-- Explore Tour Start -->
     <div class="container-fluid ExploreTour py-5">
          <div class="container py-5">
               <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                    <h5 class="section-title px-3">Explorează</h5>
                    <h1 class="mb-4">Lumea</h1>
                    <p class="mb-0">
                         Fiecare călătorie este o oportunitate de a învăța, de a descoperi și de a te bucura de tot ce oferă lumea! Deci, hai cu noi în următoare ta călătorie pentru a putea simți cu adevărat emoțiile pozitive!
                    </p>
               </div>
               <div class="tab-class text-center">
                    <ul class="nav nav-pills d-inline-flex justify-content-center mb-5">
                         <li class="nav-item">
                              <a class="d-flex mx-3 py-2 border border-primary bg-light rounded-pill active" data-bs-toggle="pill" href="#NationalTab-1">
                                   <span class="text-dark" style="width: 250px;">Categoria - Tururi naționale</span>
                              </a>
                         </li>
                         <li class="nav-item">
                              <a class="d-flex py-2 mx-3 border border-primary bg-light rounded-pill" data-bs-toggle="pill" href="#InternationalTab-2">
                                   <span class="text-dark" style="width: 250px;">Categoria - Tururi internaționale</span>
                              </a>
                         </li>
                    </ul>
                    <div class="tab-content">
                         <div id="NationalTab-1" class="tab-pane fade show p-0 active">
                              <div class="row g-4">
                                   <div class="col-md-6 col-lg-4">
                                        <div class="national-item">
                                             <img src="~/Content/img/explore-tour-1.jpg" class="img-fluid w-100 rounded" alt="Image">
                                             <div class="national-content">
                                                  <div class="national-info">
                                                       <h5 class="text-white text-uppercase mb-2">Tur weekend</h5>
                                                       <a href="#" class="btn-hover text-white">Vedeți mai multe <i class="fa fa-arrow-right ms-2"></i></a>
                                                  </div>
                                             </div>
                                             <div class="national-plus-icon">
                                                  <a href="#" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                                             </div>
                                        </div>
                                   </div>
                                   <div class="col-md-6 col-lg-4">
                                        <div class="national-item">
                                             <img src="~/Content/img/explore-tour-2.jpg" class="img-fluid w-100 rounded" alt="Image">
                                             <div class="national-content">
                                                  <div class="national-info">
                                                       <h5 class="text-white text-uppercase mb-2">Tur sărbătoare</h5>
                                                       <a href="#" class="btn-hover text-white">Vedeți mai multe <i class="fa fa-arrow-right ms-2"></i></a>
                                                  </div>
                                             </div>
                                             <div class="national-plus-icon">
                                                  <a href="#" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                                             </div>
                                        </div>
                                   </div>
                                   <div class="col-md-6 col-lg-4">
                                        <div class="national-item">
                                             <img src="~/Content/img/explore-tour-3.jpg" class="img-fluid w-100 rounded" alt="Image">
                                             <div class="national-content">
                                                  <div class="national-info">
                                                       <h5 class="text-white text-uppercase mb-2">Tur drum lung</h5>
                                                       <a href="#" class="btn-hover text-white">Vedeți mai multe <i class="fa fa-arrow-right ms-2"></i></a>
                                                  </div>
                                             </div>
                                             <div class="tour-offer bg-info">15% reducere</div>
                                             <div class="national-plus-icon">
                                                  <a href="#" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                                             </div>
                                        </div>
                                   </div>
                                   <div class="col-md-6 col-lg-4">
                                        <div class="national-item">
                                             <img src="~/Content/img/explore-tour-4.jpg" class="img-fluid w-100 rounded" alt="Image">
                                             <div class="national-content">
                                                  <div class="national-info">
                                                       <h5 class="text-white text-uppercase mb-2">Tur istoric</h5>
                                                       <a href="#" class="btn-hover text-white">Vedeți mai multe <i class="fa fa-arrow-right ms-2"></i></a>
                                                  </div>
                                             </div>
                                             <div class="national-plus-icon">
                                                  <a href="#" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                                             </div>
                                        </div>
                                   </div>
                                   <div class="col-md-6 col-lg-4">
                                        <div class="national-item">
                                             <img src="~/Content/img/explore-tour-5.jpg" class="img-fluid w-100 rounded" alt="Image">
                                             <div class="national-content">
                                                  <div class="national-info">
                                                       <h5 class="text-white text-uppercase mb-2">Tur familial</h5>
                                                       <a href="#" class="btn-hover text-white">Vedeți mai multe <i class="fa fa-arrow-right ms-2"></i></a>
                                                  </div>
                                             </div>
                                             <div class="tour-offer bg-warning">50% reducere</div>
                                             <div class="national-plus-icon">
                                                  <a href="#" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                                             </div>
                                        </div>
                                   </div>
                                   <div class="col-md-6 col-lg-4">
                                        <div class="national-item">
                                             <img src="~/Content/img/explore-tour-6.jpg" class="img-fluid w-100 rounded" alt="Image">
                                             <div class="national-content">
                                                  <div class="national-info">
                                                       <h5 class="text-white text-uppercase mb-2">Tur plajă</h5>
                                                       <a href="#" class="btn-hover text-white">Vedeți mai multe <i class="fa fa-arrow-right ms-2"></i></a>
                                                  </div>
                                             </div>
                                             <div class="national-plus-icon">
                                                  <a href="#" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                         </div>
                         <div id="InternationalTab-2" class="tab-pane fade show p-0">
                              <div class="InternationalTour-carousel owl-carousel">
                                   <div class="international-item">
                                        <img src="~/Content/img/explore-tour-1.jpg" class="img-fluid w-100 rounded" alt="Image">
                                        <div class="international-content">
                                             <div class="international-info">
                                                  <h5 class="text-white text-uppercase mb-2">Australia</h5>
                                                  <a href="#" class="btn-hover text-white me-4"><i class="fas fa-map-marker-alt me-1"></i> 8 orașe</a>
                                                  <a href="#" class="btn-hover text-white"><i class="fa fa-eye ms-2"></i> <span>143+ locuri de vizitat</span></a>
                                             </div>
                                        </div>
                                        <div class="tour-offer bg-success">30% reducere</div>
                                        <div class="international-plus-icon">
                                             <a href="#" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                                        </div>
                                   </div>
                                   <div class="international-item">
                                        <img src="~/Content/img/explore-tour-2.jpg" class="img-fluid w-100 rounded" alt="Image">
                                        <div class="international-content">
                                             <div class="international-info">
                                                  <h5 class="text-white text-uppercase mb-2">Germania</h5>
                                                  <a href="#" class="btn-hover text-white me-4"><i class="fas fa-map-marker-alt me-1"></i> 12 orașe</a>
                                                  <a href="#" class="btn-hover text-white"><i class="fa fa-eye ms-2"></i> <span>21+ locuri de vizitat</span></a>
                                             </div>
                                        </div>
                                        <div class="international-plus-icon">
                                             <a href="#" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                                        </div>
                                   </div>
                                   <div class="international-item">
                                        <img src="~/Content/img/explore-tour-3.jpg" class="img-fluid w-100 rounded" alt="Image">
                                        <div class="international-content">
                                             <div class="tour-offer bg-warning">45% reducere</div>
                                             <div class="international-info">
                                                  <h5 class="text-white text-uppercase mb-2">Spania</h5>
                                                  <a href="#" class="btn-hover text-white me-4"><i class="fas fa-map-marker-alt me-1"></i> 9 orașe</a>
                                                  <a href="#" class="btn-hover text-white"><i class="fa fa-eye ms-2"></i> <span>133+ locuri de vizitat</span></a>
                                             </div>
                                        </div>
                                        <div class="international-plus-icon">
                                             <a href="#" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                                        </div>
                                   </div>
                                   <div class="international-item">
                                        <img src="~/Content/img/explore-tour-4.jpg" class="img-fluid w-100 rounded" alt="Image">
                                        <div class="international-content">
                                             <div class="international-info">
                                                  <h5 class="text-white text-uppercase mb-2">Japonia</h5>
                                                  <a href="#" class="btn-hover text-white me-4"><i class="fas fa-map-marker-alt me-1"></i> 8 orașe</a>
                                                  <a href="#" class="btn-hover text-white"><i class="fa fa-eye ms-2"></i> <span>137+ locuri de vizitat</span></a>
                                             </div>
                                        </div>
                                        <div class="international-plus-icon">
                                             <a href="#" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                                        </div>
                                   </div>
                                   <div class="international-item">
                                        <img src="~/Content/img/explore-tour-5.jpg" class="img-fluid w-100 rounded" alt="Image">
                                        <div class="international-content">
                                             <div class="tour-offer bg-info">70% reducere</div>
                                             <div class="international-info">
                                                  <h5 class="text-white text-uppercase mb-2">Londra</h5>
                                                  <a href="#" class="btn-hover text-white me-4"><i class="fas fa-map-marker-alt me-1"></i> 17 orașe</a>
                                                  <a href="#" class="btn-hover text-white"><i class="fa fa-eye ms-2"></i> <span>26+ locuri de vizitat</span></a>
                                             </div>
                                        </div>
                                        <div class="international-plus-icon">
                                             <a href="#" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <!-- Explore Tour Start -->
     <!-- Subscribe Start -->
     <div class="container-fluid subscribe py-5">
          <div class="container text-center py-5">
               <div class="mx-auto text-center" style="max-width: 900px;">
                    <h5 class="subscribe-title px-3">Abonează-te</h5>
                    <h1 class="text-white mb-4">Newsletter</h1>
                    <p class="text-white mb-5">
                         Abonează-te la newsletter-ul nostru și fii primul care află despre oferte speciale, noutăți și evenimente exclusive!
                    </p>
                    <div class="position-relative mx-auto">
                         <input class="form-control border-primary rounded-pill w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                         <button type="button" class="btn btn-primary rounded-pill position-absolute top-0 end-0 py-2 px-4 mt-2 me-2">Abonare</button>
                    </div>
               </div>
          </div>
     </div>
     <!-- Subscribe End -->
     