
@{
     ViewBag.Title = "Index_promotii";
     Layout = "~/Views/Shared/_Layout.cshtml";
}

     <!-- Spinner Start -->
     <!--<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
          <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
               <span class="sr-only">Încărcare...</span>
          </div>
     </div>-->
     <!-- Spinner End -->

     <!-- Packages Start -->
     <div class="container-fluid packages py-5">
          <div class="container py-5">
               <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                    <h5 class="section-title px-3">Promoții</h5>
                    <h1 class="mb-0">Promoții excepționale</h1>
               </div>
               <div class="packages-carousel owl-carousel">
                    <div class="packages-item">
                         <div class="packages-img">
                              <img src="img/packages-4.jpg" class="img-fluid w-100 rounded-top" alt="Image">
                              <div class="packages-info d-flex border border-start-0 border-end-0 position-absolute" style="width: 100%; bottom: 0; left: 0; z-index: 5;">
                                   <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt me-2"></i>Veneția - Italia</small>
                                   <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt me-2"></i>3 zile</small>
                                   <small class="flex-fill text-center py-2"><i class="fa fa-user me-2"></i>2 Persoane</small>
                              </div>
                              <div class="packages-price py-2 px-4">$349.00</div>
                         </div>
                         <div class="packages-content bg-light">
                              <div class="p-4 pb-0">
                                   <h5 class="mb-0">Veneția - Italia</h5>
                                   <small class="text-uppercase">Hotel - ofertă specială</small>
                                   <div class="mb-3">
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                   </div>
                                   <p class="mb-4">Veneția este un oraș unic în lume, construit pe apă și plin de farmec. Descoperă Veneția cu alți ochi, iar noi îți oferim cele mai bune oferte</p>
                              </div>
                              <div class="row bg-primary rounded-bottom mx-0">
                                   <div class="col-6 text-start px-0">
                                        <a href="#" class="btn-hover btn text-white py-2 px-4">Citește</a>
                                   </div>
                                   <div class="col-6 text-end px-0">
                                        <a href="#" class="btn-hover btn text-white py-2 px-4">Comandă acum</a>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="packages-item">
                         <div class="packages-img">
                              <img src="img/packages-2.jpg" class="img-fluid w-100 rounded-top" alt="Image">
                              <div class="packages-info d-flex border border-start-0 border-end-0 position-absolute" style="width: 100%; bottom: 0; left: 0; z-index: 5;">
                                   <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt me-2"></i>Mont Blanc - Franța</small>
                                   <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt me-2"></i>4 zile</small>
                                   <small class="flex-fill text-center py-2"><i class="fa fa-user me-2"></i>2 Persoane</small>
                              </div>
                              <div class="packages-price py-2 px-4">$479.00</div>
                         </div>
                         <div class="packages-content bg-light">
                              <div class="p-4 pb-0">
                                   <h5 class="mb-0">Mont Blanc</h5>
                                   <small class="text-uppercase">Hotel - ofertă specială</small>
                                   <div class="mb-3">
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                   </div>
                                   <p class="mb-4">Cucerește cel mai înat vârf din Europa! Mont Blanc este destinația perfectă pentru iubitorii de aventură și natură.</p>
                              </div>
                              <div class="row bg-primary rounded-bottom mx-0">
                                   <div class="col-6 text-start px-0">
                                        <a href="#" class="btn-hover btn text-white py-2 px-4">Citește</a>
                                   </div>
                                   <div class="col-6 text-end px-0">
                                        <a href="#" class="btn-hover btn text-white py-2 px-4">Cumpără acum</a>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="packages-item">
                         <div class="packages-img">
                              <img src="img/packages-3.jpg" class="img-fluid w-100 rounded-top" alt="Image">
                              <div class="packages-info d-flex border border-start-0 border-end-0 position-absolute" style="width: 100%; bottom: 0; left: 0; z-index: 5;">
                                   <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt me-2"></i>Kyoto - Japonia</small>
                                   <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt me-2"></i>3 zile</small>
                                   <small class="flex-fill text-center py-2"><i class="fa fa-user me-2"></i>2 Persoane</small>
                              </div>
                              <div class="packages-price py-2 px-4">$549.00</div>
                         </div>
                         <div class="packages-content bg-light">
                              <div class="p-4 pb-0">
                                   <h5 class="mb-0">Descoperă Japonia</h5>
                                   <small class="text-uppercase">Hotel - ofertă specială</small>
                                   <div class="mb-3">
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                   </div>
                                   <p class="mb-4">Kyoto, fosta capitală imperială a Japoniei, este un oraș plin de istorie, temple impresionante și grădini zen liniștitoare!</p>
                              </div>
                              <div class="row bg-primary rounded-bottom mx-0">
                                   <div class="col-6 text-start px-0">
                                        <a href="#" class="btn-hover btn text-white py-2 px-4">Citește</a>
                                   </div>
                                   <div class="col-6 text-end px-0">
                                        <a href="#" class="btn-hover btn text-white py-2 px-4">Cumpără acum</a>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="packages-item">
                         <div class="packages-img">
                              <img src="img/packages-1.jpg" class="img-fluid w-100 rounded-top" alt="Image">
                              <div class="packages-info d-flex border border-start-0 border-end-0 position-absolute" style="width: 100%; bottom: 0; left: 0; z-index: 5;">
                                   <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt me-2"></i>Thailanda</small>
                                   <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt me-2"></i>2 zile</small>
                                   <small class="flex-fill text-center py-2"><i class="fa fa-user me-2"></i>2 Persoane</small>
                              </div>
                              <div class="packages-price py-2 px-4">$649.00</div>
                         </div>
                         <div class="packages-content bg-light">
                              <div class="p-4 pb-0">
                                   <h5 class="mb-0">Călătorie - Thailanda</h5>
                                   <small class="text-uppercase">Hotel - ofertă specială</small>
                                   <div class="mb-3">
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                   </div>
                                   <p class="mb-4">Thailanda este o destinație de vis, unde plajele tropicale, cultura bogată și gastronomia delicioasă creează o experiență de neuitat.</p>
                              </div>
                              <div class="row bg-primary rounded-bottom mx-0">
                                   <div class="col-6 text-start px-0">
                                        <a href="#" class="btn-hover btn text-white py-2 px-4">Citește</a>
                                   </div>
                                   <div class="col-6 text-end px-0">
                                        <a href="#" class="btn-hover btn text-white py-2 px-4">Cumpără acum</a>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <!-- Packages End -->
     <!-- Tour Booking Start -->
     <div class="container-fluid booking py-5">
          <div class="container py-5">
               <div class="row g-5 align-items-center">
                    <div class="col-lg-6">
                         <h5 class="section-booking-title pe-3">Rezervare</h5>
                         <h1 class="text-white mb-4">Rezervează online</h1>
                         <p class="text-white mb-4">
                              Planifică-ți vacanța fără griji! Cu doar câteva click-uri, poți rezerva cele mai bune hoteluri, zboruri și experiențe de neuitat.
                         </p>
                         <p class="text-white mb-4">
                              * Cazare la cele mai bune prețuri <br />
                              * Zboruri convenabile către destinația dorită<br />
                              * Excursii și activități personalizate<br />
                              * Suport 24/7 pentru o călătorie fără stres<br />
                              * Rezervă acum și pornește în aventura vieții tale!<br />
                         </p>
                         <a href="#" class="btn btn-light text-primary rounded-pill py-3 px-5 mt-2">Citește mai mult</a>
                    </div>
                    <div class="col-lg-6">
                         <h1 class="text-white mb-3">Rezervă un Tur – Oferte Speciale!</h1>
                         <p class="text-white mb-4">Primește <span class="text-warning">50% reducere</span> la prima ta călătorie împreună cu AAG - Voyage!</p>
                         <form>
                              <div class="row g-3">
                                   <div class="col-md-6">
                                        <div class="form-floating">
                                             <input type="text" class="form-control bg-white border-0" id="name" placeholder="Your Name">
                                             <label for="name">Nume</label>
                                        </div>
                                   </div>
                                   <div class="col-md-6">
                                        <div class="form-floating">
                                             <input type="email" class="form-control bg-white border-0" id="email" placeholder="Your Email">
                                             <label for="email">E-mail</label>
                                        </div>
                                   </div>
                                   <div class="col-md-6">
                                        <div class="form-floating date" id="date3" data-target-input="nearest">
                                             <input type="text" class="form-control bg-white border-0" id="datetime" placeholder="Date & Time" data-target="#date3" data-toggle="datetimepicker" />
                                             <label for="datetime">Data & Timp</label>
                                        </div>
                                   </div>
                                   <div class="col-md-6">
                                        <div class="form-floating">
                                             <select class="form-select bg-white border-0" id="select1">
                                                  <option value="1">Destinația 1</option>
                                                  <option value="2">Destinația 2</option>
                                                  <option value="3">Destinația 3</option>
                                             </select>
                                             <label for="select1">Destinație</label>
                                        </div>
                                   </div>
                                   <div class="col-md-6">
                                        <div class="form-floating">
                                             <select class="form-select bg-white border-0" id="SelectPerson">
                                                  <option value="1">Persoane 1</option>
                                                  <option value="2">Persoane 2</option>
                                                  <option value="3">Persoane 3</option>
                                             </select>
                                             <label for="SelectPerson">Persoane</label>
                                        </div>
                                   </div>
                                   <div class="col-md-6">
                                        <div class="form-floating">
                                             <select class="form-select bg-white border-0" id="CategoriesSelect">
                                                  <option value="1">Copii</option>
                                                  <option value="2">1</option>
                                                  <option value="3">2</option>
                                                  <option value="3">3</option>
                                             </select>
                                             <label for="CategoriesSelect">Categorii</label>
                                        </div>
                                   </div>
                                   <div class="col-12">
                                        <div class="form-floating">
                                             <textarea class="form-control bg-white border-0" placeholder="Special Request" id="message" style="height: 100px"></textarea>
                                             <label for="message">Cerere specială</label>
                                        </div>
                                   </div>
                                   <div class="col-12">
                                        <button class="btn btn-primary text-white w-100 py-3" type="submit">Rezervează acum</button>
                                   </div>
                              </div>
                         </form>
                    </div>
               </div>
          </div>
     </div>
     <!-- Tour Booking End -->
     <!-- Subscribe Start -->
     <div class="container-fluid subscribe py-5">
          <div class="container text-center py-5">
               <div class="mx-auto text-center" style="max-width: 900px;">
                    <h5 class="subscribe-title px-3">Abonează-te</h5>
                    <h1 class="text-white mb-4">Newsletter</h1>
                    <p class="text-white mb-5">
                         Abonează-te la newsletter-ul nostru și fii primul care află despre oferte speciale, noutăți și evenimente exclusive!
                    </p>
                    <div class="position-relative mx-auto">
                         <input class="form-control border-primary rounded-pill w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                         <button type="button" class="btn btn-primary rounded-pill position-absolute top-0 end-0 py-2 px-4 mt-2 me-2">Abonare</button>
                    </div>
               </div>
          </div>
     </div>
     <!-- Subscribe End -->