@{
    ViewBag.Title = "Așteaptă aprobarea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5 pt-5">
    <div class="alert alert-info text-center shadow-sm rounded">
        <h2 class="mb-3">Cererea ta pentru oferta <strong>@ViewBag.Oferta</strong> a fost trimisă cu succes!</h2>
        <p>Te vom contacta după ce administratorul aprobă această rezervare.</p>
    </div>
</div>
